:root{
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%),hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(201, 33%, 16%);
    --textColor: hsl(240, 4%, 36%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
}

.header{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--whiteColorDeam);
    width: 100%;
    height: var(--headerHeight);
    z-index: 1000;
    padding: 1rem;

    .logo{
        color: var(--blackColor);
        font-weight: 600;
        cursor: pointer;
        align-items: center;
        justify-content: center;

        .icon{
         font-size: 25px;
         color: var(--PrimaryColor);
         transform: translateY(5px);
        }
    }
    
    @media screen and (max-width:768px){
        .navBar{
            background: var(--whiteColorDeam);
            position: absolute;
            height: max-content;
            width: 80%;
            border-radius: 1rem;
            padding: 1rem;
            top: -700%;
            left: 50%;
            transform: translate(-50%);
            z-index: 2000;
            box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
            transition: .3s ease-in-out;

            .navLists{
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                align-items: center;
                margin: auto;
                padding: .5rem 0; //on the wide screen padding should be :0 1rem
                .navItem{
                   padding: .5rem 0; //on the wide screen padding should be :0 1rem
                   
                   .navLink{
                    color: var(--textColor);
                    font-size: .9rem;
                    font-weight: 600;
                    &:hover{
                        color: var(--PrimaryColor);
                    }
                   } 
                }

                .btn{
                    margin-top: 1rem; //on the wide screen margin-left should be 1rem

                    a{
                        font-weight: 600;
                        color: var(--whiteColor);
                    }
                }
        
            }

            .closeNavbar{
                position: absolute;
                top: 1rem;
                right: 1.5rem;
                color: var(--PrimaryColor);
                &:hover .icon{
                    color: var(--SecondaryColor);
                }
            }
        }

        .activeNavbar{
            top: 7rem;
        }
    }

    .toggleNavbar{
        .icon{
            font-size: 25px;
          color: var(--PrimaryColor);
        }
        &:hover.icon{
            color: var(--SecondaryColor);
            
        }
    }

  
}

.activeHeader{
    background: var(--projectCardColor);
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
}

// MEDIA QIERIES =====================>
@media screen and (min-width: 769px){
    .toggleNavbar, .closeNavbar{
        display: none;
    }

    .header{
        padding: 1.5rem 2rem;
        .navBar{
            .navLists{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                // padding: 0 1rem;
                .navItem{
                    
                    .navLink{
                        color: var(--textColor);
                        padding: 0 .45rem;
                        font-size: .9rem;
                        font-weight: 500;
                        &:hover{
                            color: var(--PrimaryColor);
                        }
    
                    .headerNumber{
                        color: var(--primaryHover);
                    }
                   } 
                }
    
                .btn{
                    margin-left: 1rem; 
                    a{
                        color: var(--whiteColor);
                        font-weight: 500;
                    }
                }
        
            }
        }
    }
}


@media screen and (min-width: 960px){
    .header{
        .navBar{
            .navLists{
                .navItem{
                   padding: 0 .7rem;
                }
            }
        }
    }
  
}

@media screen and (min-width: 1024px){
    .header{
        padding: 1rem 8.5rem;
    }
}

